
#categorie-input-container {
	border:#ccc 1px solid;
	border-radius: 4px;
	padding: 5px;
    display: flex;          /* belangrijk! */
    flex-direction: row;    /* horizontaal */
    align-items: center;    /* verticale centrering */
    gap: 10px;              /* ruimte tussen inputs en button */
}

#input-container {
    position: relative;
    display: flex;          /* inputs naast elkaar */
	flex-direction: column;
    flex: 1;                /* neemt zoveel mogelijk ruimte in */
    gap: 10px;
}

#input-container:hover #dropdown-categorie {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}



/* DROPDOWN CATEGORIE */
.todo-filter {
  margin-bottom: 20px;
}

.dropdown {
  position: relative;
  width: 200px;
}

.dropdown-button {
  width: 100%;
  padding: 10px;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  background: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border-radius: 8px;
  z-index: 100;
}

.dropdown-option {
  padding: 10px;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: #f1f1f1;
}
