#frame_wrapper {
	display: flex;
	gap: 20px;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.frame {
	background-color: var(--color-secondary);
	width: 400px;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
}

.innerframe {
	display: flex;
	flex-direction: column;   /* onder elkaar */
	justify-content: flex-start;
	align-items: center;
	gap: 20px; /* ruimte tussen elementen */
}
