@import url('global.css');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
	font-family: var(--font-family);
	font-weight: bold;
	color: white;
	margin-bottom: 1rem;
}

h3 {
	font-family: Tomorrow, sans-serif
}

p {
	font-family: var(--font-family);
	font-weight: var(--font-weight);
	font-size: var(--font-size);
	color: black;
	margin-bottom: 1rem;
}

#empty-space {
	height: 10rem;
}

#app  {
	background-color: var(--color-primary);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	padding-top: 50px; 
	align-items: center;
	flex-direction: column;
}

#logo {
	width: 150px;
	height: 150px;
}

.btn {
	background-color: var(--color-primary);
	border: none;
	border-radius: 999px;
	padding: 0.3rem 1rem 0.3rem 1rem;
	margin: 0.5rem;
	font-size: var(--font-size);
	font-weight: bold;
	border-radius: 1rem;
	cursor: pointer;
	color: white;
	transition: 0.2s;
	height: 2rem;
}

.btn:hover {
	transform: translateY(-2px);
	box-shadow: 0 8px 20px rgba(157,74,255,0.4);
}

.btn:active {
  transform: scale(0.97);
}

.button-wrapper, .input-wrapper {
	display: flex;
	flex-direction: row;
	width: 100%;
	gap: 1rem;
	justify-content: center;
}

.input-wrapper {
	align-items: start;
	display: flex;
}

.p-wrapper p {
    text-align: left;
}