.button-row {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.big-btn {
    background: #73c9f5;
    padding: 15px 40px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    border: 10px solid #d34792;
}

.big-btn:hover {
    opacity: 0.85;
}

.lists-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 40px;
}

.list-block {
    width: 45%;
}

.list-title {
    background: #d34792;
    padding: 10px;
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: bold;
}

.list-block ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-block li {
    margin: 6px 0;
    font-size: 18px;
}

/* Nieuwe taak knop */
.new-task-btn {
    margin-top: 40px;
    float: right;
    background: #73c9f5;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

.new-task-btn:hover {
    opacity: 0.85;
}