
/*
main
-column-wrapper
--categorie-select
--select-cat-btn
-column-wrapper
--list-block
--list-title
--list
-list-block
--list-title
--list
-forward-new
*/

.column-wrapper {
	display: flex;
	flex-direction: row;
	width: 100%;
	gap: 1rem;
	justify-content: stretch;
}

.column-wrapper:last-of-type { 
  display: flex;
  flex: 1 1 auto;
  min-height: 0;
  gap: 1rem;
}

#select-cat-btn {
	background-color: var(--color-primary);
	border-radius: 10px;
	color: white;
	cursor: pointer;
	border: none;
}

.list-block {
	flex: 1 0 0;
	flex-direction: column;
	display: flex;
	min-width: 0;
	box-sizing: border-box;
	min-height: 0;
}

.list-title {
	border-bottom: 1px solid black;
	font-size: var(--font-size);
	font-weight: bold;
}

.list {
	flex: 1 1 auto;
	justify-content: space-between;
	min-height: 0; 
	list-style: none;
	padding: 0;
	width: 100%;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	box-sizing: border-box;
	touch-action: pan-y;
	overscroll-behavior: contain;
	
}

/* TASK ITEMS */
.clickable-item {
	list-style: none;
	cursor: pointer;
	transition: background 0.2s, transform 0.1s;
	font-family: var(--font-family);
	font-size: clamp(0.8rem, 2.5vw, 1rem);
	margin: 0.2rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.clickable-item:hover {
	background-color: var(--color-secondary);
	transform: scale(1.02); 
}

.task-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.5rem;
	transform: none;
}

.task-text {
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.task-buttons {
	display: flex;
	gap: 0.1rem;
}

/* SCROLLBAR */
/* Firefox */
.list {
	scrollbar-width: auto;
	scrollbar-color: var(--color-secondary) #f0f0f0;
}

/* Chrome, Edge, Safari */
.list::-webkit-scrollbar {
	width: 12px;
}

.list::-webkit-scrollbar-track {
	background: #f0f0f0;
	border-radius: 10px;
}

.list::-webkit-scrollbar-thumb {
	background-color: var(--color-secondary);
	border-radius: 10px;
}
