
/*
main
-column-wrapper
--categorie-select
--select-cat-btn
-column-wrapper
--list-block
--list-title
--list
-list-block
--list-title
--list
-nieuwe-taak
*/

.column-wrapper {
	display: flex;
	flex-direction: row;
	width: 100%;
	gap: 20px;
	justify-content: center;
	align-items: center;
}

#categorie-select {
	background-color: white;
}

#select-cat-btn {
	background-color: white;
}

.lists-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
	gap: 20px;
	width: 100%; 
}

.list-block {
	flex: 1;
	background-color: white;
}

.list-title {
	background-color: var(--color-secondary);
	padding: 5px;
	font-size: 12px;
	font-weight: bold;
}

.list {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* TASK ITEMS */
.clickable-item {
	list-style: none;
	cursor: pointer;
	transition: background 0.2s, transform 0.1s;
	font-family: var(--font-family);
	font-weight: var(--font-weight);
	font-size: var(--font-size);
	margin: 5px;
}

.clickable-item:hover {
	background-color: var(--color-secondary);
	transform: scale(1.02); 
}

.task-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	background-color: var(--color-secondary);
}

.task-text {
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.task-buttons {
	display: flex;
	gap: 5px;
}
