/*
NEW
-input
-add-categorie
-back-save
-back-not-save
*/

.input {
	background-color: white;
	text-align: center;
	transform: translateY(3px);
}

#add-cat-btn {
	background-color: var(--color-primary);
	border: none;
	font-size: var(--font-size);
	border-radius: 1rem;
	cursor: pointer;
	color: white;
}