@import url('global.css');

.h1 {
	font-family: var(--font-family);
	font-weight: var(--font-weight);
	font-size: 2.5rem;
	color: white;
	margin-bottom: 20px;
}
#container {
	background-color: black;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#background-wrapper {
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#app  {
	background-color: var(--color-primary);
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#frame {
	background-color: var(--color-secondary);
	width: 400px;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
}
#innerframe {
	background-color: white;
	width: 350px;
	height: 550px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#todolist {
	font-family: var(--font-family);
	font-weight: var(--font-weight);
	font-size: var(--font-size);
}

#logo {
	width: 150px;
	height: 150px;
}

@media (max-width: 768px) {
	.container {
		flex-direction: column;
		padding: 10px;
	}
}