
/* todo list */
.list {
	font-family: var(--font-family);
	font-weight: var(--font-weight);
	font-size: var(--font-size);
}

/* TASK ITEMS */
.clickable-item {
    list-style: none;           /* geen bullets */
    padding: 5px 5px;         /* ruimte rondom tekst */
    cursor: pointer;            /* handje bij hover */
    transition: background 0.2s, transform 0.1s;
}

.clickable-item:hover {
    background-color: var(--color-secondary);  /* donkerder bij hover */
    transform: scale(1.02);     /* klein zoom effect */
}

