
/*
TASK
-task-block
-current-task
-task-block
-current-cat
-back-menu
*/

.task-block {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--color-secondary);
	border-radius: 0.5rem;
	text-align: center;
	min-height: 0;
	width: 100%;
	margin: 1px;
	box-sizing: border-box;
}

.task-block p {
	font-weight: bold;
}

.info-field {
	width: 100%;
	text-align: center;
	font-family: var(--font-family);
}
