
/* todo list */
.list {
	font-family: var(--font-family);
	font-weight: var(--font-weight);
	font-size: var(--font-size);
}

/* TASK ITEMS */
.clickable-item {
    list-style: none;
    cursor: pointer;
    transition: background 0.2s, transform 0.1s;
	font-family: var(--font-family);
	font-weight: var(--font-weight);
	font-size: var(--font-size);
}

.clickable-item:hover {
    background-color: var(--color-secondary);  /* donkerder bij hover */
    transform: scale(1.02);     /* klein zoom effect */
}

