
/*
TASK
-task-block
-current-task
-task-block
-current-cat
-terug-menu
*/

.task-block {
	border: 1px solid var(--color-secondary);
	border-radius: 0.5rem;
	width: 100%;
	padding: 2px 0px 0px 5px;
	text-align: center;
}

.task-block p {
  font-weight: bold;
  font-size: calc(clamp(14px, 2vw, 24px) + 2px);
}


.info-field {
	width: 100%;
	text-align: center;
}
