
/*
TASK
-task-block
-current-task
-task-block
-current-cat
-terug-menu
*/

.task-block {
	background-color: var(--color-secondary);
	width: 100%;
	padding: 2px 0px 0px 5px;
}

.info-field {
	width: 100%;
}
