---
// import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Kubus from '../components/kubus.astro'
---

<Layout>
	<section id="app">
		<div id="empty-space"><h1>TO DO</h1></div>
		<Kubus />
	</section>
</Layout>
