---
// import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Kubus from '../components/kubus.astro'
---

<Layout>
	<section id="app">
		<h1> --TO DO-- </h1>
		<Kubus />
	</section>
</Layout>
