---
import logo from '../assets/logo.webp';
import "../styles/global.css";
---

<section class="frame" id="categorie_frame">
	<button id="back_btn"> </button>

	<section class="innerframe" id="categorie_innerframe">
		<ul id="categorie_list">
			<li> Sample To Do Item 1 </li>
			<li> Sample To Do Item 2 </li>
			<li> Sample To Do Item 3 </li>
		</ul>
	</section>
</section>

