---
import logo from '../assets/logo.webp';
import "../styles/global.css";
---

<section class="frame">
	<section class="innerframe" id="edit-innerframe">
		<div class="input-wrapper">
			<p>Taak:</p>
			<input type="text" id="edit-task" class="input" placeholder="taaknaam">
		</div>
		<div class="input-wrapper">
			<p>Selecteer een categorie</p>
			<select id="edit-category">Kies een categorie:</select>
		</div>
	</section>
	<div class="button-wrapper">
		<button class="btn" id="back-edit" class="btn">PAS AAN</button>
		<button class="btn" id="back-not-edit" class="btn">TERUG</button>
	</div>
</section>