---
import logo from '../assets/logo.webp';
import "../styles/global.css";
---

<section class="frame">
	<div class="innerframe">
		<div class="column-wrapper">
			<p>Taak:</p>
			<input type="text" id="edit-task" class="input" placeholder="taaknaam">
		</div>
		<div class="column-wrapper">
			<p>Selecteer een categorie</p>
			<select id="edit-category">Kies een categorie:</select>
		</div>
		<div class="column-wrapper">
			<p>of voeg toe:</p>
			<input type="text" id="add-categorie" placeholder="nieuwe categorie">
			<button id="add-cat-btn">Voeg toe</button>
		</div>
		<div class="column-wrapper">
			<button class="btn" id="edit-task-btn" class="btn">PAS AAN</button>
			<button class="btn" id="edit-niet-btn" class="btn">TERUG</button>
		</div>
	</div>
</section>