---
import logo from '../assets/logo.webp';
import "../styles/global.css";
---

<section class="frame" id="main-side">
	<section class="innerframe">
		<div class="button-wrapper">
			<select id="category-select"></select>
			<button id="select-cat-btn">Filter</button>
		</div>
		<div class="column-wrapper">
			<div class="list-block">
				<h3 class="list-title">To do</h3>
				<ul class="list" id="todo-list"></ul>
				<div class="column-wrapper">
					<button id='up1' class='updownbtns'>op</button>
					<button id='down1' class='updownbtns'>neer</button>
				</div>
			</div>
			<div class="list-block">
				<h3 class="list-title">Klaar</h3>	
				<ul class="list" id="finished-list"></ul>
			</div>
		</div>
	</section>
	<button id="forward-new" class="btn">NIEUWE TAAK</button>
</section>