---
import logo from '../assets/logo.webp';
import "../styles/global.css";
---

<section class="frame" id="new-task-side"></section>
	<div class="innerframe">
		<input type="text" id="add-taak" class="input" placeholder="Nieuwe taak">
		<input type="text" id="add-subtaak" class="input" placeholder="Subtaken">
		<button id="add-subtaak_btn">voeg toe</button>
		<input type="text" id="add-categorie" placeholder="Categorie">
		<button id="sla-op">SLA OP</button>
	</div>
</section>