---
import logo from '../assets/logo.webp';
import "../styles/global.css";
---

<section class="frame"></section>
	<div class="innerframe">
		<input type="text" id="add-taak" class="input" placeholder="Nieuwe taak">
		<input type="text" id="add-categorie" placeholder="Categorie">
		<button id="sla-op">SLA OP</button>
		<button id="sla-niet-op">TERUG</button>
	</div>
</section>