---
import logo from '../assets/logo.webp';
import "../styles/global.css";
---

<div class="innerdiv" id="task-innerframe">
	<div class="task-block"> <p>Taak:</p> </div>
	<div id="current-task"></div>
	<div class="task-block"> <p>Categorie:</p> </div>
	<div id="current-cat"></div>
	<button id="terug-menu">Terug</button>
</div>