---
import logo from '../assets/logo.webp';
import "../styles/global.css";
---

<section class="frame">
	<div class="innerframe" id="task-innerframe">
		<div class="task-block"> <p>Taak:</p> </div>
		<div id="current-task" class="info-field"></div>
		<div class="task-block"> <p>Categorie:</p> </div>
		<div id="current-cat" class="info-field"></div>
		<div class="column-wrapper">
			<button class="btn" id="edit">Bewerk</button>
			<button class="btn" id="terug-menu">Terug</button>
		</div>
	</div>
</section>