---
import logo from '../assets/logo.webp';
import '../styles/global.css';
---

<section class='frame' id="task-side">
	<section class='innerframe' id='task-innerframe'>
		<div class='task-block'> <p>TAAK</p> </div>
		<div id='current-task' class='info-field'></div>
		<div class='task-block'> <p>CATEGORIE</p> </div>
		<div id='current-cat' class='info-field'></div>
		<div class='task-block'> <p>START DATUM</p> </div>
		<div id='current-date' class='info-field'></div>
	</section>
	<div class='button-wrapper'>
		<button class='btn' id='edit'>Bewerk</button>
		<button class='btn' id='terug-menu'>Terug</button>
	</div>
</section>