---
import logo from '../assets/logo.webp';
import "../styles/global.css";
import "../styles/style.css";
---

<section id="frame">
	<section id="innerframe">
		<ul id="todolist">
			<li> Sample To Do Item 1 </li>
			<li> Sample To Do Item 2 </li>
			<li> Sample To Do Item 3 </li>
		</ul>
	</section>
</section>

