---
import logo from '../assets/logo.webp';
import "../styles/global.css";
---

<section class="frame" id="todo-frame">
	<section class="innerframe" id="todo-innerframe">
		<ul id="todo-list">
			<li> Sample To Do Item 1 </li>
			<li> Sample To Do Item 2 </li>
			<li> Sample To Do Item 3 </li>
		</ul>
		<div id="categorie-input-container">
			<div id="input-container">
				<input type="text" id="task-input" placeholder="Nieuwe taak">
				<input type="text" id="categorie-input" placeholder="Categorie">
				<div id="dropdown-categorie"></div>
			</div>
			<button id="add-task-btn">Toevoegen</button>
		</div>
		
	</section>
</section>

