---
import "../styles/global.css";
import "../../public/script/to_do.js";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>VRCafe Basics</title>
		<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap" rel="stylesheet">
	</head>
	<body>
		<slot />
		<script type="module">
			import { loadMainSide } from '../script/main.js';
			if (typeof window !== "undefined") {
				loadMainSide();
			}
		</script>
	</body>
</html>

